Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web-beta, web-classic, server

chore(web): update package.json
  web/package.json
Due: none

v0.16.2
  CHANGELOG.md
Due: none

ci(server): fix typo in reference to name value from inputs
  .github/workflows/build_server.yml
Due: none

chore(web): update useManageSwitchState
  web/src/beta/hooks/useManageSwitchState/hooks.tsx
Due: web-beta

Fix(web) : Dont need to in this task
  web/src/beta/components/Icon/Icons/plus.svg
  web/src/beta/components/Icon/icons.ts
Due: web-beta

Chore(web) : Add svg file
  web/src/beta/components/Icon/Icons/plus.svg
  web/src/beta/components/Icon/icons.ts
Due: web-beta

Fix(web) : StroytellingPageSectionItem design
  web/src/beta/components/StorytellingPageSectionItem/index.tsx
Due: web-beta

refactor(web): organize Resizable(beta) hooks (#467)
  web/src/beta/components/Resizable/hooks.ts
Due: web-beta

add .yarnrc to install specific version as default
  web/.yarnrc
Due: none

fix version
  web/package.json
  web/yarn.lock
Due: none

small fixes for story
  web/src/beta/features/Editor/index.stories.tsx
Due: none

add line break
  web/.yarnrc
Due: none

ci: remove maintainers group from review-lottery.yml
  .github/reviewer-lottery.yml
Due: none

update stories
  web/src/beta/features/Editor/index.stories.tsx
  web/src/beta/features/SidePanel/index.stories.tsx
  web/src/beta/features/VisualizerNav/index.stories.tsx
  web/src/beta/pages/EditorPage/index.stories.tsx
Due: none

chore(web): add useManageSwitchState (#471)
  web/src/beta/hooks/useManageSwitchState/hooks.test.tsx
  web/src/beta/hooks/useManageSwitchState/hooks.tsx
Due: web-beta

fix-navbar-section-names
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/index.tsx
Due: web-beta

Fix(web) : use Text component & storybook
  web/src/beta/components/StorytellingPageSectionItem/index.stories.tsx
  web/src/beta/components/StorytellingPageSectionItem/index.tsx
Due: web-beta

Fix(web): InsertionButton stroies use render
  web/src/beta/components/InsertionButton/index.stories.tsx
Due: none

Fix(web): use Text and stories use render not args
  web/src/beta/components/ActionItem/index.stories.tsx
  web/src/beta/components/ActionItem/index.tsx
Due: web-beta

fix(server): published metadata api should return error correctly
  server/internal/usecase/interactor/published.go
Due: server

redo typings
  web/src/services/theme/common/colors.ts
  web/src/services/theme/common/z-index.ts
  web/src/services/theme/darkTheme/colors.ts
  web/src/services/theme/darkTheme/index.ts
  web/src/services/theme/lightTheme/colors.ts
  web/src/services/theme/lightTheme/index.ts
  web/src/services/theme/publishTheme/dark.ts
  web/src/services/theme/publishTheme/forest.ts
  web/src/services/theme/publishTheme/light.ts
  web/src/services/theme/types/colors.ts
  web/src/services/theme/types/index.ts
  web/src/services/theme/types/theme.ts
Due: web-beta

tabButton-ref
  web/src/beta/features/Navbar/TabButton/index.stories.tsx
  web/src/beta/features/Navbar/TabButton/index.test.tsx
  web/src/beta/features/Navbar/TabButton/index.tsx
  web/src/beta/features/Navbar/index.tsx
Due: web-beta

remove old dark/light them files
  web/src/services/theme/darkTheme.ts
  web/src/services/theme/index.ts
  web/src/services/theme/lightheme.ts
Due: web-beta

rename some stuff
  web/src/services/theme/common/globalStyles.tsx
  web/src/services/theme/common/index.ts
  web/src/services/theme/common/metrics.ts
  web/src/services/theme/common/zIndex.ts
  web/src/services/theme/index.ts
  web/src/services/theme/provider.tsx
  web/src/services/theme/publishedAppProvider.tsx
  web/src/services/theme/types/theme.ts
Due: web-beta

hooks-modify
  web/src/beta/features/Navbar/hooks.ts
Due: web-beta

remove old colors file
  web/src/beta/lib/core/Crust/theme/dark.ts
  web/src/classic/components/molecules/EarthEditor/PropertyPane/PropertyField/TypographyField/FontFamilyField/index.stories.tsx
  web/src/services/theme/common/colors.ts
  web/src/services/theme/common/index.ts
  web/src/services/theme/darkTheme/index.ts
  web/src/services/theme/index.ts
  web/src/services/theme/lightTheme/index.ts
  web/src/services/theme/publishTheme/colors.ts
  web/src/services/theme/publishTheme/dark.ts
  web/src/services/theme/publishTheme/forest.ts
  web/src/services/theme/publishTheme/light.ts
  web/src/services/theme/types/theme.ts
  web/src/services/theme/values/colors.ts
Due: web-beta

storybook-fix
  web/src/beta/components/Avatar/index.stories.tsx
  web/src/beta/components/Button/index.stories.tsx
  web/src/beta/components/Dropdown/index.stories.tsx
  web/src/beta/components/Loading/index.stories.tsx
  web/src/beta/components/Modal/ModalFrame/index.stories.tsx
Due: none

remove plugins
  web/.storybook/preview.tsx
  web/package.json
  web/yarn.lock
Due: none

delete story in features
  web/src/beta/features/Editor/SidePanel/index.stories.tsx
  web/src/beta/features/Editor/index.stories.tsx
  web/src/beta/pages/EditorPage/index.stories.tsx
Due: none

fix(server): ignore filter for project repo findByPublicName
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

add test case
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

fix(server): ignore filter for project repo findByPublicName (#499)
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

fix(sever): fix unit test
  server/go.mod
  server/go.sum
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/scene_plugin_test.go
Due: server

fix typings
  web/src/services/theme/darkTheme/index.ts
  web/src/services/theme/lightTheme/index.ts
  web/src/services/theme/types/theme.ts
Due: web-beta

update beta core publish colors import
  web/src/beta/lib/core/Crust/theme/dark.ts
  web/src/beta/lib/core/Crust/theme/forest.ts
  web/src/beta/lib/core/Crust/theme/light.ts
Due: web-beta

Path conditions:
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server/**, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
