Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web-beta, web-classic, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-classic:
        target: auto
        threshold: 0%
      server:
        target: auto
        flags:
          - server
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  server:
    paths:
      - server/**
    carryforward: true

chore(web): Update TabButton component
  web/src/beta/components/TabButton/index.tsx
Due: web-beta

chore: Update SidePanelTitle Component
  web/src/beta/components/SidePanelTitle/index.tsx
Due: web-beta

refactor logic and organize hooks dependencies
  web/src/beta/components/Resizable/hooks.ts
Due: web-beta

make it possible to define router settings in stories
  web/.storybook/preview.tsx
  web/package.json
  web/yarn.lock
Due: none

add stories
  web/src/beta/features/Editor/index.stories.tsx
  web/src/beta/features/SidePanel/index.stories.tsx
  web/src/beta/features/VisualizerNav/index.stories.tsx
  web/src/beta/pages/EditorPage/index.stories.tsx
Due: none

chore(web): Add ActionItem component
  web/src/beta/components/ActionItem/index.stories.tsx
  web/src/beta/components/ActionItem/index.tsx
Due: web-beta

fix(server): plugin migrator did not update layers
  server/internal/usecase/repo/plugin.go
  server/pkg/layer/list.go
  server/pkg/layer/loader.go
  server/pkg/layer/loader_test.go
  server/pkg/plugin/loader.go
  server/pkg/plugin/loader_test.go
  server/pkg/property/loader.go
  server/pkg/property/loader_test.go
  server/pkg/scene/sceneops/plugin_migrator.go
  server/pkg/scene/sceneops/plugin_migrator_test.go
Due: server

chore(server): upgrade go to v1.20
  .github/workflows/ci_server.yml
  .github/workflows/ci_server_build.yml
  go.work
  server/Dockerfile
  server/go.mod
Due: server

ci(server): fix typo in ci-server
  .github/workflows/ci_server.yml
Due: none

ci: fix trigger of ci workflows
  .github/workflows/ci_server.yml
  .github/workflows/ci_web.yml
Due: none

imp
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config/auth.go
  server/internal/app/config/auth_test.go
  server/internal/app/config/config.go
  server/internal/app/config/config_test.go
  server/internal/app/jwt.go
Due: server

fix(sever): tmp
  server/internal/adapter/context.go
  server/internal/adapter/gql/context.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/workspace.go
  server/internal/adapter/gql/gqlmodel/workspace_test.go
  server/internal/adapter/gql/loader_policy.go
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/resolver_mutation_team.go
  server/internal/adapter/gql/resolver_mutation_user.go
  server/internal/adapter/http/user.go
  server/internal/app/usecase.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/operator.go
Due: server

update readme
  web/src/beta/core/README.md
Due: web-beta

Move timeline from components/ to core/
  web/src/beta/core/Crust/Widgets/Widget/Navigator/UI/hooks.ts
  web/src/beta/core/Crust/Widgets/Widget/Navigator/UI/index.stories.tsx
  web/src/beta/core/Crust/Widgets/Widget/Navigator/UI/index.test.tsx
  web/src/beta/core/Crust/Widgets/Widget/Navigator/UI/index.tsx
  web/src/beta/core/Crust/Widgets/Widget/Navigator/UI/types.ts
  web/src/beta/core/Crust/Widgets/Widget/Navigator/UI/utils.test.ts
  web/src/beta/core/Crust/Widgets/Widget/Navigator/UI/utils.ts
  web/src/beta/core/Crust/Widgets/Widget/Navigator/hooks.ts
  web/src/beta/core/Crust/Widgets/Widget/Navigator/index.tsx
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/ScaleList.test.tsx
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/ScaleList.tsx
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/constants.ts
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/hooks.ts
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/index.stories.tsx
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/index.test.tsx
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/index.tsx
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/types.ts
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/utils.test.ts
  web/src/beta/core/Crust/Widgets/Widget/Timeline/UI/utils.ts
  web/src/beta/core/Crust/Widgets/Widget/Timeline/hooks.ts
  web/src/beta/core/Crust/Widgets/Widget/Timeline/index.tsx
Due: web-beta

move Sidepanel to Editor feat
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
Due: web-beta

fix(web): set updateClockOnLoad default value as true
  web/src/classic/core/engines/Cesium/Feature/Resource/index.tsx
Due: web-classic

update readmes
  web/src/beta/components/README.md
  web/src/beta/features/README.md
  web/src/beta/hooks/README.md
  web/src/beta/pages/README.md
  web/src/beta/utils/README.md
  web/src/classic/README.md
Due: web-beta, web-classic

chore(web): add useManageSwitchState
  web/src/beta/hooks/useManageSwitchState/hooks.test.tsx
  web/src/beta/hooks/useManageSwitchState/hooks.tsx
Due: web-beta

chore(web): Add TabButton component (#464)
  web/src/beta/components/TabButton/index.stories.tsx
  web/src/beta/components/TabButton/index.test.tsx
  web/src/beta/components/TabButton/index.tsx
Due: web-beta

Chore(web): Add InsertionButton Component
  web/src/beta/components/Icon/Icons/plus.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/InsertionButton/index.stories.tsx
  web/src/beta/components/InsertionButton/index.tsx
Due: web-beta

fix(web): set updateClockOnLoad default value as true (#470)
  web/src/classic/core/engines/Cesium/Feature/Resource/index.tsx
Due: web-classic

ci: fix typo in ci server build
  .github/workflows/ci_server_build.yml
Due: none

ci: auto update reearth/web version with release
  .github/workflows/release.yml
Due: none

chore: update git add and push step
  .github/workflows/release.yml
Due: none

ci: add ci workflow refactor
  .github/workflows/ci.yml
  .github/workflows/ci_server.yml
  .github/workflows/ci_web.yml
Due: none

Chore(web): Add StorytellingPageSectionItem
  web/src/beta/components/Icon/Icons/square.svg
  web/src/beta/components/Icon/Icons/two-rectangle.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/StorytellingPageSectionItem/index.stories.tsx
  web/src/beta/components/StorytellingPageSectionItem/index.tsx
Due: web-beta

ci: invoke server and web build from ci
  .github/workflows/ci.yml
  .github/workflows/ci_server_build.yml
  .github/workflows/ci_web_build.yml
Due: none

ci: auto update reearth/web version with release (#473)
  .github/workflows/release.yml
Due: none

ci: use reusable workflows for ci workflow (#474)
  .github/workflows/ci.yml
  .github/workflows/ci_server.yml
  .github/workflows/ci_server_build.yml
  .github/workflows/ci_web.yml
  .github/workflows/ci_web_build.yml
Due: none

Revert "ci: auto update reearth/web version with release (#473)"
  .github/workflows/release.yml
Due: none

ci: Revert auto update reearth/web version with release (#475)
  .github/workflows/release.yml
Due: none

ci: fix resuable workflow
  .github/workflows/ci.yml
  .github/workflows/ci_server_build.yml
  .github/workflows/ci_web_build.yml
Due: none

refactor
  .github/workflows/ci.yml
Due: none

fix
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
Due: none

chore(web): update useManageSwitchState
  web/src/beta/hooks/useManageSwitchState/hooks.test.tsx
  web/src/beta/hooks/useManageSwitchState/hooks.tsx
Due: web-beta

Fix(web): StorytellingPageSectionItem delete width
  web/src/beta/components/StorytellingPageSectionItem/index.tsx
Due: web-beta

add component tests
  web/src/beta/features/Editor/index.test.tsx
  web/src/beta/features/SidePanel/index.test.tsx
  web/src/beta/pages/EditorPage/index.test.tsx
Due: none

add hooks tests
  web/src/beta/features/Editor/useLeftPanel.test.ts
  web/src/beta/features/Editor/useRightPanel.test.ts
  web/src/beta/features/Editor/useVisualizerNav.test.ts
Due: none
