Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web-beta, web-classic, server

fix(web): parse properties(feature) recursively before using in evaluator at core
  web/src/beta/lib/core/mantle/evaluator/simple/expression/utils.ts
  web/src/beta/lib/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/beta/lib/core/mantle/evaluator/simple/index.ts
  web/src/beta/lib/core/mantle/evaluator/simple/utils.test.ts
  web/src/beta/lib/core/mantle/evaluator/simple/utils.ts
  web/src/classic/core/mantle/evaluator/simple/expression/utils.ts
  web/src/classic/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/classic/core/mantle/evaluator/simple/index.ts
  web/src/classic/core/mantle/evaluator/simple/utils.test.ts
  web/src/classic/core/mantle/evaluator/simple/utils.ts
Due: web-beta, web-classic

fix(web): updateClockLoad deafault true in beta-core
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/index.tsx
Due: web-beta

add theming to storybook
  web/.storybook/main.ts
  web/.storybook/preview.tsx
  web/package.json
  web/src/classic/components/atoms/Modal/ModalFrame/index.stories.tsx
  web/src/classic/components/atoms/Modal/index.stories.tsx
  web/src/services/theme/index.ts
  web/yarn.lock
Due: web-beta

fix(web): updateClockLoad deafault true in beta-core (#480)
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/index.tsx
Due: web-beta

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: update CODEOWNERS (#482)
  .github/CODEOWNERS
Due: none

ci(web): add web flag to codecov
  .github/workflows/ci_web.yml
  codecov.yml
Due: none

rename build and deploy files
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/ci_collect_info.yml
  .github/workflows/ci_docker_build_push.yml
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
Due: none

ci: fix resuable workflow (#476)
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/ci.yml
  .github/workflows/ci_collect_info.yml
  .github/workflows/ci_docker_build_push.yml
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
Due: none

ci: fix skipped build workflow when pushed on main
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/ci.yml
Due: none

ci: fix skipped build workflow when pushed on main (#483)
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/ci.yml
Due: none

fix(web): parse properties(feature) recursively before using in evaluator at core (#479)
  web/src/beta/lib/core/mantle/evaluator/simple/expression/utils.ts
  web/src/beta/lib/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/beta/lib/core/mantle/evaluator/simple/index.ts
  web/src/beta/lib/core/mantle/evaluator/simple/utils.test.ts
  web/src/beta/lib/core/mantle/evaluator/simple/utils.ts
  web/src/classic/core/mantle/evaluator/simple/expression/utils.ts
  web/src/classic/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/classic/core/mantle/evaluator/simple/index.ts
  web/src/classic/core/mantle/evaluator/simple/utils.test.ts
  web/src/classic/core/mantle/evaluator/simple/utils.ts
Due: web-beta, web-classic

ci: fix build deadlock after ci finishes
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

ci: add reviewer lottery workflow
  .github/reviewer-lottery.yml
  .github/workflows/reviewer_lottery.yml
Due: none

ci: fix build deadlock after ci finishes (#484)
  .github/workflows/ci.yml
Due: none

feat(web): design beta navBar
  web/src/beta/components/Avatar/index.stories.tsx
  web/src/beta/components/Avatar/index.tsx
  web/src/beta/components/Button/README.md
  web/src/beta/components/Button/index.stories.tsx
  web/src/beta/components/Button/index.tsx
  web/src/beta/components/Dropdown/index.stories.tsx
  web/src/beta/components/Dropdown/index.tsx
  web/src/beta/components/Icon/Icons/arrowDown.svg
  web/src/beta/components/Icon/Icons/dashboard.svg
  web/src/beta/components/Icon/Icons/help.svg
  web/src/beta/components/Icon/Icons/logout.svg
  web/src/beta/components/Icon/Icons/workspaceAdd.svg
  web/src/beta/components/Icon/Icons/workspaces.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Loading/README.md
  web/src/beta/components/Loading/index.stories.tsx
  web/src/beta/components/Loading/index.tsx
  web/src/beta/components/Modal/ModalFrame/index.stories.tsx
  web/src/beta/components/Modal/ModalFrame/index.tsx
  web/src/beta/components/Modal/index.tsx
  web/src/beta/features/Menus/MenuList/index.tsx
  web/src/beta/features/Menus/ProjectMenu/index.tsx
  web/src/beta/features/Menus/WorkspaceMenu/index.tsx
  web/src/beta/features/Modals/WorkspaceCreationModal/index.tsx
  web/src/beta/features/Navbar/CommonHeader/Profile/index.tsx
  web/src/beta/features/Navbar/CommonHeader/index.tsx
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/types.ts
  web/src/classic/components/molecules/Settings/SettingPage/index.tsx
  web/src/classic/components/organisms/Settings/Project/hooks.ts
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/queries/project.ts
  web/src/services/state/index.ts
Due: web-beta, web-classic

chore: update to 0.16.0 for the release
  web/package.json
Due: none

fix(web): infobox showing [object object] on click
  web/src/beta/lib/core/mantle/evaluator/simple/index.ts
  web/src/classic/core/mantle/evaluator/simple/index.ts
Due: web-beta, web-classic

Chore(web) : only StorytellingPageSectionItem
  web/src/beta/components/ActionItem/index.stories.tsx
  web/src/beta/components/ActionItem/index.tsx
  web/src/beta/components/InsertionButton/index.stories.tsx
  web/src/beta/components/InsertionButton/index.tsx
Due: web-beta

Chore(web): Add ActionItem
  web/src/beta/components/ActionItem/index.stories.tsx
  web/src/beta/components/ActionItem/index.tsx
Due: web-beta

Chore(web): Add InsertionButton
  web/src/beta/components/InsertionButton/index.stories.tsx
  web/src/beta/components/InsertionButton/index.tsx
Due: web-beta

Update .github/reviewer-lottery.yml
  .github/reviewer-lottery.yml
Due: none

test(server): fix project created at in unit test (#477)
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
Due: none

add title to modal story
  web/src/classic/components/atoms/Modal/index.stories.tsx
Due: none

refactor(server): use reearthx auth middleware (#468)
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config/auth.go
  server/internal/app/config/auth_test.go
  server/internal/app/config/config.go
  server/internal/app/config/config_test.go
  server/internal/app/jwt.go
Due: server

fix(web): infobox showing [object object] on click (#487)
  web/src/beta/lib/core/mantle/evaluator/simple/index.ts
  web/src/classic/core/mantle/evaluator/simple/index.ts
Due: web-beta, web-classic

chore(web): add theming support for components in storybook (#481)
  web/.storybook/main.ts
  web/.storybook/preview.tsx
  web/package.json
  web/src/classic/components/atoms/Modal/ModalFrame/index.stories.tsx
  web/src/classic/components/atoms/Modal/index.stories.tsx
  web/src/services/theme/index.ts
  web/yarn.lock
Due: web-beta

Chore(web): Add PublishStateSwitchField
  web/src/beta/components/Icon/Icons/arrowDown.svg
  web/src/beta/components/Icon/Icons/arrowUp.svg
  web/src/beta/components/Icon/Icons/primSphereIcon.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/PublishStateSwitchField/index.stories.tsx
  web/src/beta/components/PublishStateSwitchField/index.tsx
Due: web-beta

move AdditionButton to where it is used, remove its story
  web/src/beta/components/AdditionButton/index.stories.tsx
  web/src/classic/components/atoms/AdditionButton/index.stories.tsx
  web/src/classic/components/molecules/Visualizer/Infobox/AdditionButton/index.tsx
  web/src/classic/components/molecules/Visualizer/Infobox/index.tsx
  web/src/classic/core/Crust/Infobox/AdditionButton/index.tsx
  web/src/classic/core/Crust/Infobox/index.tsx
Due: web-classic

ci(web): add reviewer lottery workflow (#485)
  .github/reviewer-lottery.yml
  .github/workflows/reviewer_lottery.yml
Due: none

move additionbutton to where used, remove story(beta)
  web/src/beta/lib/core/Crust/Infobox/AdditionButton/index.tsx
  web/src/beta/lib/core/Crust/Infobox/index.tsx
Due: web-beta

v0.16.0
  CHANGELOG.md
Due: none

fix(ci): use workflow-dispatch action to trigger next branch workflow
  .github/workflows/ci.yml
Due: none

Fix(web): story test
  web/src/beta/components/StorytellingPageSectionItem/index.stories.tsx
Due: none

Path conditions:
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server/**, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
