Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web-beta, web-classic, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-classic:
        target: auto
        threshold: 0%
      server:
        target: auto
        flags:
          - server
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  server:
    paths:
      - server/**
    carryforward: true

fix navbar styles
  web/src/beta/components/Dropdown/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/features/Navbar/Menus/WorkspaceMenu/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
Due: web-beta

fix stories
  web/src/beta/components/Modal/index.stories.tsx
  web/src/beta/components/Text/index.stories.tsx
Due: none

feat(web): interaction mode on beta
  web/src/beta/lib/core/Crust/Plugins/api.ts
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Crust/interactionMode.ts
  web/src/beta/lib/core/Crust/types.ts
  web/src/beta/lib/core/Map/featureFlags.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web-beta

remove direct colors from theme
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
  web/src/services/theme/reearthTheme/types.ts
Due: web-beta

fix: remove pedestrian mode for now
  web/src/beta/lib/core/Crust/interactionMode.ts
  web/src/beta/lib/core/Map/featureFlags.ts
Due: web-beta

test: fix storybook
  web/src/beta/lib/core/Crust/index.stories.tsx
Due: none

fix i18n
  web/src/classic/components/organisms/Settings/Account/hooks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web-beta, web-classic

fix storybook
  web/.storybook/preview.tsx
Due: none

add classic button colors to beta
  web/src/beta/components/Button/index.tsx
  web/src/services/theme/reearthTheme/darkTheme/index.ts
Due: web-beta

fix footnotes
  web/src/services/theme/reearthTheme/common/fonts.ts
Due: web-beta

chore(web): Update CheckboxField component
  web/src/beta/components/CheckboxField/index.stories.tsx
Due: none

chore(web): Update SubTabButtonList component
  web/src/beta/components/SubTabButtonList/index.stories.tsx
Due: none

chore(web): Update CheckboxField component
  web/src/beta/components/CheckboxField/index.tsx
Due: web-beta

fix(web): Update assignment of child component.
  web/src/beta/components/SidePanelSectionField/index.stories.tsx
Due: none

clean up metrics
  web/src/services/theme/reearthTheme/common/metrics.ts
Due: web-beta

fix(web): Update component styles.
  web/src/beta/components/SidePanelSectionField/index.tsx
Due: web-beta

fix(web): Delete unnecessary codes.
  web/src/beta/components/SidePanelSectionField/index.stories.tsx
Due: none

Update web/src/beta/lib/core/Crust/interactionMode.ts
  web/src/beta/lib/core/Crust/interactionMode.ts
Due: web-beta

Update hooks.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Due: web-beta

Chore(web): Add SwitchButtonList Component
  web/src/beta/components/SwitchButtonList/index.stories.tsx
  web/src/beta/components/SwitchButtonList/index.tsx
  web/src/beta/hooks/useManageSwitchState/hooks.tsx
Due: web-beta

Fix(web): modified by feedback
  web/src/beta/components/ActionItem/index.tsx
Due: web-beta

Fix(web): modification by feedback
  web/src/beta/components/Icon/Icons/audio.svg
  web/src/beta/components/Icon/Icons/clock.svg
  web/src/beta/components/Icon/Icons/editIcon.svg
  web/src/beta/components/Icon/Icons/mdFile.svg
  web/src/beta/components/Icon/Icons/settings.svg
  web/src/beta/components/Icon/Icons/video.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/SettingsButtons/index.stories.tsx
  web/src/beta/components/SettingsButtons/index.tsx
Due: web-beta

fix: feature flag
  web/src/beta/lib/core/Crust/featureFlags.ts
  web/src/beta/lib/core/Crust/interactionMode.ts
  web/src/beta/lib/core/Map/index.tsx
Due: web-beta

imp
  .github/workflows/deploiy_aws.yml
Due: none

fix
  .github/workflows/deploiy_aws.yml
Due: none

Fix(web): Modification by feedback
  web/src/beta/components/Blocks/ImageBlock/index.tsx
Due: web-beta

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: ci error
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Due: web-beta

fix(web): Update color and font order for new theme.
  web/src/beta/components/CheckboxField/index.tsx
Due: web-beta

fix(web): published page not getting theme
  web/src/services/theme/publishedAppProvider.tsx
Due: web-beta

Revert "fix(web): published page layer selection (#503)"
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Published/core/index.tsx
Due: web-classic

fix(web): revert published page VR layer selection (#512)
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Published/core/index.tsx
Due: web-classic

fix(web): Update color and font order for new theme.
  web/src/beta/components/SubTabButtonList/index.tsx
Due: web-beta

chore(web): update package.json version
  web/package.json
Due: none
