Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web-beta, web-classic, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-classic:
        target: auto
        threshold: 0%
      server:
        target: auto
        flags:
          - server
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  server:
    paths:
      - server/**
    carryforward: true

pr-fix
  web/src/classic/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/classic/components/organisms/Settings/SettingPage/hooks.ts
Due: web-classic

Update web/src/classic/components/molecules/Dashboard/Project.tsx
  web/src/classic/components/molecules/Dashboard/Project.tsx
Due: web-classic

pr-fix1
  web/src/classic/components/molecules/Dashboard/Project.tsx
Due: web-classic

fix
  server/internal/usecase/interactor/scene_plugin.go
  server/internal/usecase/interactor/scene_plugin_test.go
  server/pkg/layer/infobox_field.go
  server/pkg/layer/infobox_field_builder.go
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/scene/sceneops/plugin_migrator.go
Due: server

fix lint
  server/pkg/layer/list.go
Due: server

chore(web): improve storybook preview setting
  web/.storybook/preview.tsx
Due: none

fix react import error in preview.tsx
  web/.storybook/preview.tsx
Due: none

fix some stories titles to filter correctly
  web/src/classic/components/molecules/Visualizer/Block/HTML/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Model/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Raster/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Resource/index.stories.tsx
Due: none

upgrade storybook deps
  web/package.json
  web/yarn.lock
Due: none

feat(web): Add TabButton component
  web/src/beta/components/TabButton/index.stories.tsx
  web/src/beta/components/TabButton/index.test.tsx
  web/src/beta/components/TabButton/index.tsx
Due: web-beta

chore(web): improve storybook preview setting (#456)
  web/.storybook/preview.tsx
Due: none

add storybook/manager-api
  web/package.json
Due: none

update theming
  web/.storybook/ReEarthTheme.ts
  web/.storybook/manager.ts
  web/.storybook/public/logo.svg
Due: none

remove unneeded workaround
  web/.storybook/main.ts
Due: none

refactor theme
  web/.storybook/ReEarthTheme.ts
  web/.storybook/manager.ts
  web/.storybook/theme.ts
Due: none

fix: use auth0 hook for unknown context
  web/src/services/auth/useAuth.ts
Due: web-beta

Update web/src/beta/components/Icon/index.stories.tsx
  web/src/beta/components/Icon/index.stories.tsx
Due: none

kya's-change
  web/src/classic/components/molecules/Dashboard/QuickStart.tsx
Due: web-classic

chore(web): copy Icon component from classic
  web/src/beta/components/Icon/Icons/fileIcon.svg
  web/src/beta/components/Icon/icons.ts
Due: web-beta

Update web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Icon/icons.ts
Due: web-beta

chore: upgrade vite version
  web/package.json
  web/yarn.lock
Due: none

feat(web): support create beta project (#451)
  web/e2e/utils/config.ts
  web/src/classic/components/atoms/Icon/Icons/defaultBetaProjectImage.png
  web/src/classic/components/atoms/Icon/Icons/defaultProjectImage.jpg
  web/src/classic/components/molecules/Common/Header/types.ts
  web/src/classic/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/classic/components/molecules/Common/ProjectTypeSelectionModal/index.stories.tsx
  web/src/classic/components/molecules/Common/ProjectTypeSelectionModal/index.tsx
  web/src/classic/components/molecules/Dashboard/Project.tsx
  web/src/classic/components/molecules/Dashboard/QuickStart.tsx
  web/src/classic/components/molecules/Dashboard/types.ts
  web/src/classic/components/molecules/EarthEditor/PropertyPane/PropertyField/LocationField/index.tsx
  web/src/classic/components/molecules/EarthEditor/PropertyPane/PropertyField/NumberField/index.tsx
  web/src/classic/components/molecules/EarthEditor/PropertyPane/PropertyItem/index.tsx
  web/src/classic/components/molecules/EarthEditor/PropertyPane/WidgetAlignSystemAreaForm/index.tsx
  web/src/classic/components/molecules/Settings/Project/EditableItem/index.tsx
  web/src/classic/components/molecules/Settings/ProjectList/ProjectCell/defaultProjectImage.jpg
  web/src/classic/components/molecules/Settings/ProjectList/ProjectCell/index.tsx
  web/src/classic/components/molecules/Settings/SettingPage/index.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/hooks.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks.ts
  web/src/classic/components/organisms/Published/core/types.ts
  web/src/classic/components/organisms/Published/types.ts
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/classic/components/organisms/Settings/ProjectList/index.tsx
  web/src/classic/components/organisms/Settings/SettingPage/hooks.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/types.ts
  web/src/services/config/index.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/graphql.schema.json
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/index.ts
  web/src/types.ts
Due: web-beta, web-classic

fix comments
  server/pkg/id/property_schema_list.go
  server/pkg/id/property_schema_list_test.go
  server/pkg/layer/infobox_field.go
  server/pkg/plugin/id.go
  server/pkg/plugin/plugin.go
  server/pkg/plugin/plugin_test.go
  server/pkg/scene/sceneops/plugin_migrator.go
Due: server

fix comments
  server/pkg/layer/infobox_field.go
  server/pkg/layer/infobox_field_test.go
  server/pkg/scene/sceneops/plugin_migrator.go
Due: server

fix(server): plugin update cause layer corruption (#431)
  server/internal/usecase/interactor/scene_plugin.go
  server/internal/usecase/interactor/scene_plugin_test.go
  server/pkg/id/property_schema_list.go
  server/pkg/id/property_schema_list_test.go
  server/pkg/layer/id_list.go
  server/pkg/layer/id_list_test.go
  server/pkg/layer/infobox_field.go
  server/pkg/layer/infobox_field_builder.go
  server/pkg/layer/infobox_field_test.go
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/plugin/id.go
  server/pkg/plugin/plugin.go
  server/pkg/plugin/plugin_test.go
  server/pkg/scene/plugins.go
  server/pkg/scene/plugins_test.go
  server/pkg/scene/sceneops/plugin_migrator.go
Due: server

refactor(web): storybook setup (#457)
  web/.storybook/main.ts
  web/.storybook/manager.ts
  web/.storybook/preview.tsx
  web/.storybook/public/logo.svg
  web/.storybook/theme.ts
  web/package.json
  web/src/classic/components/molecules/Visualizer/Block/HTML/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Model/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Raster/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Resource/index.stories.tsx
  web/yarn.lock
Due: none

chore(web): upgrade vite version (#458)
  web/package.json
  web/yarn.lock
Due: none

ci: allow title changes from forked projects
  .github/workflows/pr_title.yml
Due: none

update versions
  .github/workflows/pr_title.yml
Due: none

test commit
  .github/workflows/pr_title.yml
Due: none

Revert "test commit"
  .github/workflows/pr_title.yml
Due: none

ci: allow title changes from forked projects (#459)
  .github/workflows/pr_title.yml
Due: none

chore(web): copy Icon component from classic (#455)
  web/src/beta/components/Icon/Icons/fileIcon.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Icon/index.stories.tsx
  web/src/beta/components/Icon/index.tsx
Due: web-beta

chore: Add ActionButton icon
  web/src/beta/components/Icon/Icons/actionButton.svg
  web/src/beta/components/Icon/icons.ts
Due: web-beta

chore: Add ActionButton icon (#461)
  web/src/beta/components/Icon/Icons/actionButton.svg
  web/src/beta/components/Icon/icons.ts
Due: web-beta

adjust resizable gutter
  web/src/beta/components/Resizable/index.tsx
  web/src/beta/features/LeftPanelScene/index.tsx
  web/src/beta/features/LeftPanelStory/index.tsx
  web/src/beta/features/RightPanelScene/index.tsx
  web/src/beta/features/RightPanelStory/index.tsx
  web/src/beta/features/RightPanelWidgets/index.tsx
  web/src/beta/features/SidePanel/index.tsx
Due: web-beta
